@font-face {
    font-family: 'CircularStd';
    src: url('../assets/CircularStd/CircularStd-Light.otf');
    src: url('../assets/CircularStd/CircularStd-Medium.otf');
    src: url('../assets/CircularStd/CircularStd-Bold.otf');
    src: url('../assets/CircularStd/CircularStd-Black.otf');
    font-weight: 400;
    font-style: normal;
}

h1, h2,h3, h4, p {
    font-family: CircularStd, sans-serif;
    font-weight: 400;
}